:host {
	display: block;
	max-width: 420px;
	margin: 48px auto;
	padding: 0 20px;
	text-align: center;
}

form {
	display: grid;
	gap: 12px;
}

form div {
	display: grid;
	gap: 8px;
}

label {
	text-align: left;
}

input,
button {
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
}

p {
	margin-top: 20px;
}
